<div class="container">
    <div class="footer">
        <section class="contact">
            <h4>contact us</h4>
            <p><span><mat-icon>call</mat-icon>+233247154259</span></p>
            <p><span><mat-icon>email</mat-icon>vermaxindustries@gmail.com</span></p>
            <p><span><mat-icon>email</mat-icon>info@vermaxindustries.com</span></p>
        </section>

        <section class="social">
            <h4>social media</h4>
            <p><span><img src="assets/tweet.png" width="25px">@vermaxindustries</span></p>
            <p><span><img src="assets/inst.png" width="25px">vermaxindustries</span></p>
            <p><span><img src="assets/tweet.png" width="25px">vermaxindustries</span></p>
        </section>

        <section class="message">
            
            <form action="">
                <mat-label>Full Name</mat-label> <br>
                <input matInput><br><br>

                <mat-label>Email</mat-label><br>
                <input matInput><br><br>
                <small>We'll never share your email<br> with anyone else.</small><br>
                <button mat-raised-button color="warn">sign up</button>
            </form>
        </section>
    </div>
<br>
<hr>
    <div class="copyright">
        <p >© 2020 Copyright: VERMAX INDUSTIRES</p>
    </div>
</div>
