<h2 mat-dialog-title align="center">System Administration</h2>
<mat-dialog-content class="mat-typography">
  <!-- <h3>Vermax Industries</h3> -->
<p>
  We have experienced system administrators who have the skills necessary to ensure your systems run optimally. 
  When a problem involves working with your application provider or hardware OEM, our team will be with you all 
  the way until the problem is solved. We also manage Linux environments that support a wide range of business-critical 
  applications.
</p>
<p>
  We share insight on both on-going and on-demand proficient remote system administration support and monitoring services. 
  Our team of highly skilled, experienced engineers will monitor, manage and maintain your servers 24/7 and in case of emergency, 
  will react immediately to resolve the issues before you notice them. 
</p>
<p>
  What our administrators can do include:
</p>

<ul>
  <li>System monitoring</li>
  <li>Logical and physical storage reviews</li>
  <li>Perfomance analysis and optimization</li>
  <li>Advance system task</li>
  <li>Patch reviews and installation</li>
  <li>System remediation and troubleshooting</li>
  <li>Data Center Solutions</li>
  
</ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="accent">Close</button>
</mat-dialog-actions>
