<div class="container">
    <h1 id="vision-mission">Vision & Mission</h1>
</div>

<div class="mission">
    <section>
        <mat-card>
            <mat-card-title>Vision</mat-card-title>
            <mat-card-content>
                <p>Transforming traditional businesses with technology</p>
            </mat-card-content>

            <mat-card-title>Mission</mat-card-title>
            <mat-card-content>
                <p>Innovating Technologies to boost productivity and make the world a better place to live.</p>
            </mat-card-content>
        </mat-card>
    </section>

    <!-- <section>
        <mat-card>
            <mat-card-title>Mission</mat-card-title>
            <mat-card-content>
                <p>Innovating Technologies to boost productivity and make the world a better place to live.</p>
            </mat-card-content>
        </mat-card>
    </section> -->

</div>