<h2 mat-dialog-title align="center">Data Analytics</h2>
<mat-dialog-content class="mat-typography">
  <!-- <h3>Vermax Industries</h3> -->
<p>
  We help companies make quick and data-driven decisions in the ever-changing environment 
  by rendering a full set of data analytics services.
</p>
<p>
  Vermax industries allows your business to explore how data analytics can transform your business.
</p>
<p>
  Data quality begins with solid data governance. It has to be well-organized, relevant, accurate, and 
  understandable. In that case, we will help create your data framework, build the strategy, optimize 
  your infrastructure, processes and systems, and create the culture for you to become a data-driven organization.
</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="accent">Close</button>
</mat-dialog-actions>