<h2 mat-dialog-title align="center">Computer Networking</h2>
<mat-dialog-content class="mat-typography">
  <h3>Vermax Industries</h3>
<p>
    Vermaxindustries is a multi international industry that provides I.T related services. 
    Our first product IGOFIX is a platform where you can search for any service provider within you location. 
    if you need a teacher, lawyer, automotive engineers, doctors, journalists, etc.
    Save time and money by visiting igofix.vermaxindustries.com now.
</p>
<p>
    Vermaxindustries is a multi international industry that provides I.T related services. 
    Our first product IGOFIX is a platform where you can search for any service provider within you location. 
    if you need a teacher, lawyer, automotive engineers, doctors, journalists, etc.
    Save time and money by visiting igofix.vermaxindustries.com now.
</p>
<p>
    Vermaxindustries is a multi international industry that provides I.T related services. 
    Our first product IGOFIX is a platform where you can search for any service provider within you location. 
    if you need a teacher, lawyer, automotive engineers, doctors, journalists, etc.
    Save time and money by visiting igofix.vermaxindustries.com now.
</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="accent">Close</button>
</mat-dialog-actions>