<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [ngClass]="{'hidden': !(isHandset$ | async) === true}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="accent">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#home"><mat-icon>home</mat-icon>Home</a>
      <a mat-list-item href="#services"><mat-icon>settings</mat-icon>Services</a>
      <a mat-list-item href="#products"> <mat-icon>shopping_cart</mat-icon> Products</a>
      <a mat-list-item href="#about"> <mat-icon>group</mat-icon> About</a>
      <a mat-list-item href="#team"> <mat-icon>groups</mat-icon> The Team</a>
      <a mat-list-item href="#chat"> <mat-icon>chat</mat-icon>Chat Us</a>

    

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent"  class="app-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><a href="/"><img src="assets/logo13.png"> {{title}} </a></span>

      <div class="spacer"></div>
    
    <div class="head">
      <a mat-button href="/"> Home</a>
      <a mat-button href="#services">Services</a>
      <a mat-button href="#products">Products</a>
      <a mat-button href="#about">About</a>
      <a mat-button href="#team"> The Team</a>
      <a mat-button href="#chat">Chat Us</a>
    </div>
  
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
    
  </mat-sidenav-content>
</mat-sidenav-container>

