<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [ngClass]="{'hidden': !(isHandset$ | async) === true}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#home"><mat-icon>home</mat-icon>Home</a>
      <a mat-list-item href="#services"><mat-icon>settings</mat-icon>Services</a>
      <!-- <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon><a href="#services">Services</a> <mat-icon>arrow_drop_down</mat-icon> 
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>build</mat-icon>
        <span>Hardware Maintenance</span>
    </button>

    <button mat-menu-item>
        <mat-icon>api</mat-icon>
        <span>Software Development</span>
    </button>

    <button mat-menu-item>
        <mat-icon>hd</mat-icon>
        <span>Augmented Reality</span>
    </button>

    <button mat-menu-item>
      <mat-icon>headset_mic</mat-icon>
      <span>Consultancy</span>
  </button>
    </mat-menu> -->
      <!-- <a mat-list-item href="#">Services</a> -->
      <a mat-list-item href="#products"> <mat-icon>shopping_cart</mat-icon> Products</a>
      <a mat-list-item href="#about"> <mat-icon>group</mat-icon> About</a>
      <a mat-list-item href="#chat"> <mat-icon>chat</mat-icon>Chat Us</a>

    

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar   class="app-toolbar navbar-dark">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="vermax"><a href="#home"><img style="width: 80px;" src="assets/logo13.png">Vermax Industries</a></span>

      <div class="spacer"></div>
    
    <div class="head">
      <a mat-button href="#home"><mat-icon>home</mat-icon> Home</a>
      <a mat-button href="#services"><mat-icon>settings</mat-icon>Services</a>

    <!-- <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon><a href="#services">Services</a> <mat-icon>arrow_drop_down</mat-icon> 
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
          <mat-icon>build</mat-icon>
          <span>Hardware Maintenance</span>
      </button>

      <button mat-menu-item>
          <mat-icon>api</mat-icon>
          <span>Software Development</span>
      </button>

      <button mat-menu-item>
          <mat-icon>hd</mat-icon>
          <span>Augmented Reality</span>
      </button>

      <button mat-menu-item>
        <mat-icon>headset_mic</mat-icon>
        <span>Consultancy</span>
    </button>
    </mat-menu> -->
    <!-- <a mat-button routerLink="services">Services</a> -->
    <a mat-button href="#products"><mat-icon>shopping_cart</mat-icon>Products</a>
    <a mat-button href="#about"><mat-icon>group</mat-icon>About</a>
    <a mat-button href="#chat"><mat-icon>chat</mat-icon>Chat Us</a>
    </div>
  
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
    
  </mat-sidenav-content>
</mat-sidenav-container>

