.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden{
  display: none;
}

.spacer{
  flex: 1 1 auto;
}

/* input{
  float: right;
  padding: 6px;
  border: none;
  margin-right: 16px;
  font-size: 17px;
} */
.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

img{
  width: 80px;
}


@media (max-width:900px){
  .head{
    display: none;
  }


}

@media(max-width: 320px){
  img{
    width: 50px;
  }
}