<h2 mat-dialog-title align="center">Software Development</h2>
<mat-dialog-content class="mat-typography">
  <!-- <h3>Vermax Industries</h3> -->
<p>
  We also offer a comprehensive set of custom software development services to help grow your 
  business and reach your business goals. Whether it’s a custom software, mobile application, 
  an e-commerce website or a web application, we deliver complex, world-class software solutions.
</p>
<p>
  With several experienced developers on board, we provide a range of services such as 
</p>
<ul>
  <li>Superior E-Commerce Website Development</li>
  <li>Mobile Application Development Services</li>
  <li>UI/UX Design</li>
  <li>Software Testing</li>
  <li>Web Application Development</li>
</ul>
<p>
  Every service which is provided for a particular product is fully equipped with advanced technologies such as:
</p>
<ul>
  <li>Data Analytics</li>
  <li>Big Data</li>
  <li>Computer Vision</li>
  <li>Artificial Intelligence</li>
  <li>Blockchain</li>
</ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="accent">Close</button>
</mat-dialog-actions>