<section id="services">
    <div class="container">
        <h1 >Our Services</h1>
    </div>
    
    <div class="services">
        <section >
            <mat-card>
                <mat-card-title align="center">Hardware Maintenance</mat-card-title>
                <img mat-card-image src="/assets/Optimized-hardware.jpg" alt="">
                <mat-card-content>
                    <p>
                        Our Maintenance Services offer consistent and comprehensive support for multiple PCs (i.e., Dell, HP, Apple, etc.), 
                        workstation, laptops, terminals, hardware options and peripherals. 
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="onHardware()">Read More</button>
                </mat-card-actions>
            </mat-card>
        </section>
    
        <section >
            <mat-card>
                <mat-card-title align="center">Software Development</mat-card-title>
                <img mat-card-image style="height: 200px;" src="/assets/Optimized-digitalMarketing.jpg" alt="">
                <mat-card-content>
                    <p>
                        We employ best practice processes and development methodologies as a foundation for rapid 
                        building of cutting-edge technology solutions in a structured and methodical way.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="onSoftware()">Read More</button>
                </mat-card-actions>
            </mat-card>
        </section>

        <section >
            <mat-card>
                <mat-card-title align="center">Consultancy</mat-card-title>
                <img mat-card-image src="/assets/Optimized-dev.jpg" alt="">
                <mat-card-content>
                    <p>
                        Today, IT is increasingly a significant enabler for achieving business objectives. 
                        In most cases, company owners find themselves at crossroads with their existing solutions. 
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="onConsult()">Read More</button>
                </mat-card-actions>
            </mat-card>
        </section>

        <section >
            <mat-card>
                <mat-card-title align="center">Augmented Reality</mat-card-title>
                <img mat-card-image src="/assets/Optimized-softwaredev.jpg" alt="">
                <mat-card-content>
                    <p>
                        We offer augmented reality app development services with the use of the high-quality 
                        3D modelling tools as well as the latest and robust mobile AR platforms.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="onAugment()">Read More</button>
                </mat-card-actions>
            </mat-card>
        </section>
    
        <!-- <section >
            <mat-card>
                <mat-card-title align="center">System Administration</mat-card-title>
                <img mat-card-image src="/assets/Optimized-instalation.jpg" alt="">
                <mat-card-content>
                    <p>
                        Vermax Industries provide comprehensive packages which include business processes, 
                        business applications, and IT infrastructure management.
                        
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="onSystem()">Read More</button>
                </mat-card-actions>
            </mat-card>
        </section> -->
    
        
    
        
    
        <section >
            <mat-card>
                <mat-card-title align="center">Data Analytics</mat-card-title>
                <img mat-card-image src="/assets/Optimized-systemAdmin.jpg" alt="">
                <mat-card-content>
                    <p>
                        We provide data analytics services which help businesses convert their raw 
                       <br> business data into actionable<br> insights. 
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="onNetwork()">Read More</button>
                </mat-card-actions>
            </mat-card>
        </section>
    </div>
</section>
