<div class="container">
    <h1>Our Services</h1>
</div>

<div class="services">
    <section >
        <mat-card>
            <img mat-card-image src="/assets/Optimized-hardware.jpg" alt="">
            <mat-card-content>
                <p>
                    Some quick example text to build on the card 
                    title and make up the bulk of the card's content
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Read More</button>
            </mat-card-actions>
        </mat-card>
    </section>

    <section >
        <mat-card>
            <img mat-card-image src="/assets/Optimized-digitalMarketing.jpg" alt="">
            <mat-card-content>
                <p>
                    Some quick example text to build on the card 
                    title and make up the bulk of the card's content
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Read More</button>
            </mat-card-actions>
        </mat-card>
    </section>

    <section >
        <mat-card>
            <img mat-card-image src="/assets/Optimized-instalation.jpg" alt="">
            <mat-card-content>
                <p>
                    Some quick example text to build on the card 
                    title and make up the bulk of the card's content
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Read More</button>
            </mat-card-actions>
        </mat-card>
    </section>

    <section >
        <mat-card>
            <img mat-card-image src="/assets/Optimized-dev.jpg" alt="">
            <mat-card-content>
                <p>
                    Some quick example text to build on the card 
                    title and make up the bulk of the card's content
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Read More</button>
            </mat-card-actions>
        </mat-card>
    </section>

    <section >
        <mat-card>
            <img mat-card-image src="/assets/Optimized-softwaredev.jpg" alt="">
            <mat-card-content>
                <p>
                    Some quick example text to build on the card 
                    title and make up the bulk of the card's content
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Read More</button>
            </mat-card-actions>
        </mat-card>
    </section>

    <section >
        <mat-card>
            <img mat-card-image src="/assets/Optimized-systemAdmin.jpg" alt="">
            <mat-card-content>
                <p>
                    Some quick example text to build on the card 
                    title and make up the bulk of the card's content
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Read More</button>
            </mat-card-actions>
        </mat-card>
    </section>
</div>
