<h2 mat-dialog-title align="center">IGOFIX</h2>
<mat-dialog-content class="mat-typography">
  <!-- <h3>Vermax Industries</h3> -->
<p>
  Customers only pay service providers when work is done. Therefor if you are any service provider such as teacher, 
  plumber, tailor, nurse, hair dresser, clobber,designer, lawyer, presenter, doctor, etc. and you want customers to book 
  for your services within your location? IGOFIX is your number one choice. And if you are a customer and you need to find 
  service providers within your location.
</p>

</mat-dialog-content>
<mat-dialog-actions >
  <button mat-raised-button mat-dialog-close color="accent">Close</button>
  <div class="spacer"></div>
  <a href="https://igofix.vermaxindustries.com/" target="_blank" rel="noopener noreferrer"><button mat-raised-button  color="primary" >Visit</button></a>
</mat-dialog-actions>