<div class="container">
    <h1>Our Products</h1>
</div>

<div class="products">
    <section >
        <mat-card>
            <img mat-card-image src="/assets/Optimized-systemAdmin.jpg" alt="">
            <mat-card-content>
                <p>
                    Some quick example text to build on the card 
                    title and make up the bulk of the card's content
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Read More</button>
            </mat-card-actions>
        </mat-card>
    </section>

    <section >
        <mat-card>
            <img mat-card-image src="/assets/Optimized-systemAdmin.jpg" alt="">
            <mat-card-content>
                <p>
                    Some quick example text to build on the card 
                    title and make up the bulk of the card's content
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Read More</button>
            </mat-card-actions>
        </mat-card>
    </section>
</div>