<section id="team">
    <div class="container">
        <h1 >The Team</h1>
    </div>

    <div class="founder">
        <section >
            <mat-card>
                <img mat-card-image src="/assets/Vincent.png" alt="">
                <mat-card-title align="center">Vincent Tetteh</mat-card-title>
                <mat-card-content>
                    <p align="center">Founder/CEO/Software Engineer</p>
                    <p align="center">
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faFacebook"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faTwitter"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faInstagram"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faLinkedin"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faEnvelope"></fa-icon></a> &nbsp;
                    </p>
                </mat-card-content>
            </mat-card>
        </section>
    </div>
    
    <div class="team">
        
        <section >
            <mat-card>
                <img mat-card-image src="/assets/Edem.png" alt="">
                <mat-card-title align="center">Christian Edem Kpegah</mat-card-title>
                <mat-card-content>
                    <p align="center">Co-Founder/Software Engineer</p>
                    <p align="center">
                        <a href="https://web.facebook.com/kurt.khris" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faFacebook"></fa-icon></a> &nbsp;
                        <a href="https://twitter.com/kurt_khris" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faTwitter"></fa-icon></a> &nbsp;
                        <a href="https://www.instagram.com/kurtkhris/?hl=en" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faInstagram"></fa-icon></a> &nbsp;
                        <a href="https://www.linkedin.com/in/christian-edem-kpegah-491461165/" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faLinkedin"></fa-icon></a> &nbsp;
                        <a href="mailto:christiankpegah@gmail.com"><fa-icon [icon]="faEnvelope" target="_blank" rel="noopener noreferrer"></fa-icon></a> &nbsp;
                    </p>
                </mat-card-content>
            </mat-card>
        </section>
    
        <section >
            <mat-card>
                <img mat-card-image src="/assets/Setor.png" alt="">
                <mat-card-title align="center">Prince Setor Awagah Ledi</mat-card-title>
                <mat-card-content>
                    <p align="center">Co-Founder/System Administrator</p>
                    <p align="center">
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faFacebook"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faTwitter"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faInstagram"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faLinkedin"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faEnvelope"></fa-icon></a> &nbsp;
                    </p>
                </mat-card-content>
            </mat-card>
        </section>
    
        <section >
            <mat-card>
                <img mat-card-image src="/assets/Raph.png" alt="">
                <mat-card-title align="center">Raphael Asase</mat-card-title>
                <mat-card-content>
                    <p align="center">Co-Founder/Software Engineer</p>
                    <p align="center">
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faFacebook"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faTwitter"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faInstagram"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faLinkedin"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faEnvelope"></fa-icon></a> &nbsp;
                    </p>
                </mat-card-content>
            </mat-card>
        </section>
    
        <section >
            <mat-card>
                <img mat-card-image src="/assets/Vincent.png" alt="">
                <mat-card-title align="center">Maxwell Tetteh</mat-card-title>
                <mat-card-content>
                    <p align="center">Co-Founder/Software Engineer</p>
                    <p align="center">
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faFacebook"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faTwitter"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faInstagram"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faLinkedin"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faEnvelope"></fa-icon></a> &nbsp;
                    </p>
                </mat-card-content>
            </mat-card>
        </section>
    
        <!-- <section >
            <mat-card>
                <img mat-card-image src="/assets/Vincent.png" alt="">
                <mat-card-title align="center">Vincent Tetteh</mat-card-title>
                <mat-card-content>
                    <p align="center">Founder/CEO/Software Engineer</p>
                    <p align="center">
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faFacebook"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faTwitter"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faInstagram"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faLinkedin"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faEnvelope"></fa-icon></a> &nbsp;
                    </p>
                </mat-card-content>
            </mat-card>
        </section>

        <section >
            <mat-card>
                <img mat-card-image src="/assets/Vincent.png" alt="">
                <mat-card-title align="center">Vincent Tetteh</mat-card-title>
                <mat-card-content>
                    <p align="center">Founder/CEO/Software Engineer</p>
                    <p align="center">
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faFacebook"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faTwitter"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faInstagram"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faLinkedin"></fa-icon></a> &nbsp;
                        <a href="https://web.facebook.com/vermaxindustries" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faEnvelope"></fa-icon></a> &nbsp;
                    </p>
                </mat-card-content>
            </mat-card>
        </section> -->
    </div>
</section>

