<h2 mat-dialog-title align="center">Augmented Reality</h2>
<mat-dialog-content class="mat-typography">
  <!-- <h3>Vermax Industries</h3> -->
<p>
  Vermax Industries is always working to define a framework for the interoperability of Augmented Reality (AR) 
  components, systems and services. The AR framework defines an overall high-level architecture and also identify 
  key components and interfaces required for an AR solution.
</p>
<p>
  We are capable of building augmented reality apps which are capable of:
</p>
<ul>
  <li>
    Scanning real-life surroundings and perceiving them as an image on an XYZ coordinate system. 
    We always ensure the positioning of 3D models which is based on accurately calculated three-dimensional plane rules of a perceived image, 
    which makes augmentations appear highly realistic and natural.
  </li>
  <li>
    Recognizing specific 2D images and 3D real-life objects and can augment them with the relevant 
    text or model data on the device screen.
  </li>
  <li>
    Dynamically resizing and calibrating augmentations on the screen as you and your device move around.
  </li>
  <li>
    Automatically adjusting the lighting of the 3D model to naturally match that of the scene in the camera lens.
  </li>
</ul>
<p>
  Some AR apps we build include:
</p>
<ul>
  <li>Training and educational AR apps</li>
  <li>Tourism and culture AR apps</li>
  <li>Scientific AR apps</li>
</ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="accent">Close</button>
  
</mat-dialog-actions>