<h2 mat-dialog-title align="center">Hardware Maintenance</h2>
<mat-dialog-content class="mat-typography">
  <!-- <h3>Vermax Industries</h3> -->
<p>
  Maintenance services are delivered through a Network of technical support professionals. 
  Service options including on-site or mail-in depot repair.
</p>
<p>We have certified Systems Engineers who deliver fast, effective professional support and service.</p>
  
<p>We troubleshoot PC and Mac problems, including the prevention, diagnosis and repair of systems that are infected with viruses and malware.</p> 
<p>
  Vermax Industries also provide over-the-Phone Voice Support and Computer Remote-Control Assistance as 
  well as perform swing migrations of existing Windows servers to new hardware platforms as well as bare 
  metal cloning of existing workstations to new Windows PCs and laptops.
</p>
<ul>
  <li>Install New PCs</li>
  <li>Upgrade Hardrives and RAM</li>
  <li>Repair PCs, Macs and Laptops</li>
  <li>Server Swing Migrations</li>
  <li>Workstation “Bare-metal” Cloning</li>
  <li>Troubleshoot Network Connection Issues</li>
  <li>Troubleshoot Printing Issues</li>
  <li>Troubleshoot Backup Issues</li>
  <li>Preventive Maintenance</li>
  <li>Recommendation</li>
  <li>Hardware Installation</li>
</ul>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="accent">Close</button>
</mat-dialog-actions>