<h2 mat-dialog-title align="center">Consultancy</h2>
<mat-dialog-content class="mat-typography">
  <!-- <h3>Vermax Industries</h3> -->
<p>
  For instance, a firm may be required to migrate to cloud services, upgrade a server, create a 
  disaster recovery plan, or monitor the Internet use. This is where Vermax Industries come in. 
</p>
<p>
  We at Vermax industries offer support to enable small and large businesses to develop and adopt 
  various solutions, systems, networks, software, and security policies. Using our expertise and knowledge, 
  we design IT support services based on the client’s needs. Notably, we offer guidance that change based on 
  business growth to ensure that our customers get adequate support.
</p>
<p>
  We create a strategy that would bring together a diversified IT landscape and make it work towards supporting 
  existing business processes and driving new business initiatives.
</p>
<p>
  We analyze your business needs and help you make strategic decisions on the fast and successful implementation 
  of business-critical solutions.
</p>
<p>
  We’ll work with you to understand your business goals and aspirations, so we can deliver a roadmap detailing exactly 
  how you can get there. We’ll tailor the amount and level of consultancy to your needs.
</p>
<p>
  So, whether you’re an SME looking for initial consultation and project delivery, or an IT manager with an in-house team, 
  looking for further expertise and resource or guidance at a tactical level, we can help.
</p>
<p>Checkout below, variety of our consultancy services:</p>
<ul>
  <li>Startup Consulting</li>
  <li>Saas/Xaas consulting</li>
  <li>Cloud consulting</li>
  <li>CRM consulting</li>
  <li>Data Science consulting</li>
  <li>Cybersecurity consulting</li>
</ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="accent">Close</button>
</mat-dialog-actions>